<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.pugg.mapper.ThingMapper">
    
    <resultMap type="Thing" id="ThingResult">
        <result property="id"    column="id"    />
        <result property="thingName"    column="thing_name"    />
        <result property="thingBlock"    column="thing_block"    />
        <result property="thingImg"    column="thing_img"    />
        <result property="thingPrice"    column="thing_price"    />
    </resultMap>

    <sql id="selectThingVo">
        select id, thing_name, thing_block, thing_img, thing_price from thing
    </sql>

    <select id="selectThingList" parameterType="Thing" resultMap="ThingResult">
        <include refid="selectThingVo"/>
        <where>  
            <if test="thingName != null  and thingName != ''"> and thing_name like concat('%', #{thingName}, '%')</if>
            <if test="thingBlock != null  and thingBlock != ''"> and thing_block = #{thingBlock}</if>
        </where>
    </select>
    
    <select id="selectThingById" parameterType="Long" resultMap="ThingResult">
        <include refid="selectThingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertThing" parameterType="Thing">
        insert into thing
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="thingName != null and thingName != ''">thing_name,</if>
            <if test="thingBlock != null and thingBlock != ''">thing_block,</if>
            <if test="thingImg != null and thingImg != ''">thing_img,</if>
            <if test="thingPrice != null and thingPrice != ''">thing_price,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="thingName != null and thingName != ''">#{thingName},</if>
            <if test="thingBlock != null and thingBlock != ''">#{thingBlock},</if>
            <if test="thingImg != null and thingImg != ''">#{thingImg},</if>
            <if test="thingPrice != null and thingPrice != ''">#{thingPrice},</if>
         </trim>
    </insert>

    <update id="updateThing" parameterType="Thing">
        update thing
        <trim prefix="SET" suffixOverrides=",">
            <if test="thingName != null and thingName != ''">thing_name = #{thingName},</if>
            <if test="thingBlock != null and thingBlock != ''">thing_block = #{thingBlock},</if>
            <if test="thingImg != null and thingImg != ''">thing_img = #{thingImg},</if>
            <if test="thingPrice != null and thingPrice != ''">thing_price = #{thingPrice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteThingById" parameterType="Long">
        delete from thing where id = #{id}
    </delete>

    <delete id="deleteThingByIds" parameterType="String">
        delete from thing where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>